
@{
    ViewBag.Title = "Index";
}
<h2 style="color:#00295C;">Superadmin Panel</h2>

<br />

<div class="row">
    <div class="col-lg-12">
        <div style="width: 75%; margin: 0 auto;">
            <div class="col-lg-4">
                <a href="@Url.Action("CreateAdmin","Superadmin")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                    <i class="fas fa-users" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                    <br />
                    <br />
                    <i style="font-size:24px; color:#00295C;">CreateAdmin</i>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="@Url.Action("Adminlijst","Superadmin")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                    <i class="fas fa-users" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                    <br />
                    <br />
                    <i style="font-size:24px; color:#00295C;">Adminlijst</i>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="@Url.Action("Adminlijst","Superadmin")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                    <i class="fas fa-database" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                    <br />
                    <br />
                    <i style="font-size:24px; color:#00295C;">Export</i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top:20px;">
    <div class="col-lg-12">
        <div style="width: 75%; margin: 0 auto;">
            <div class="col-lg-4">
                <a href="@Url.Action("CreateAdmin","Superadmin")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                    <i class="fas fa-user-clock" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                    <br />
                    <br />
                    <i style="font-size:24px; color:#00295C;">Gebruikers Stats</i>
                </a>
            </div>
        </div>
    </div>
</div>
