
@{
    ViewBag.Title = "Inloggen";
}
<div style="padding-top:250px">
    <div style="width:200px; background-color:#f8f8f8; margin: 0 auto; padding: 10px; position: relative; border-radius:2%; border:1px solid #00295C;">
        Email: <br />
        <input type="email" /> <br />
        Wachtwoord: <br />
        <input type="password" /> <br />

        <button class="btn button" style="width:180px; margin-top:20px">Inloggen</button>
    </div>
</div>

