.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.typeGrafiek {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}



/* Style the active class, and buttons on mouse-over */
.active, .typeGrafiek:hover {
    background-color: rgb(0, 41, 92);
    color: white;
}
/* Style the active class, and buttons on mouse-over */

