#sortable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sortable {
    /*padding: 10px 0;
    margin: 2px;
    width: 500px;
    text-align: center;
    color: #ffffff;
    background-color: #51A0ED;
    display:inline-block;*/
}


