
@{
    ViewBag.Title = "CreateDonut";
}

<h2>CreateDonut</h2>

<p>Donut grafiek aangemaakt. Proficiat!</p>

<br />

@Html.ActionLink("Nieuwe rank", "CreateRankingInput")
@Html.ActionLink("Terug naar index", "index")