@{
    ViewBag.Title = "CreateGrafiekLine";
}

<h2>CreateGrafiekLine</h2>

<p>Ranking grafiek aangemaakt. Proficiat!</p>

<br />

@Html.ActionLink("Nieuwe rank", "CreateRankingInput")
@Html.ActionLink("Terug naar index", "index")