@model IP3_8IEN.UI.MVC_S.Models.RankViewModel

@{
    ViewBag.Title = "CreateRankingInput";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ranking</h4>
    <hr />

    <input name="naam" type="text" />
    <input name="aantal" type="text" />
    <input name="interval" type="text" />

</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create Ranking" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}