
@{
    ViewBag.Title = "CreateGrafiekDonut";
}

<h2>CreateGrafiekDonut</h2>

<p>Donut grafiek aangemaakt. Proficiat!</p>

<br />

@Html.ActionLink("Nieuwe donut", "CreateDonutInput")
@Html.ActionLink("Terug naar index", "index")