@model IP_8IEN.BL.Domain.Dashboard.Dashbord
@{
    ViewBag.Title = "DashItem";
}

<h2>DashItem</h2>
<div id="dashi"></div>
@Model.
<script type="text/javascript">
    var data = @Html.Raw(Json.Encode(ViewBag.DATA));

    $(document).ready(function () {
        customChart("dashi", data);

        $(window).resize(function () {
            window.customChart.redraw();
        });
    });

    function customChart(id, data) {
        Morris.Area({
            // ID of the element in which to draw the chart.
            element: id,
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: data,
            // The name of the data record attribute that contains x-values.
            xkey: 'label',
            ykeys: ['value'],
            labels: ['aantal tweets Van Verhofstad'],
            pointSize: 2,
            hideHover: 'auto',
            resize: true,
            redraw: true
        });
    }
</script>
