@Scripts.Render("~/bundles/kendo")
@Scripts.Render("~/scripts/charts")
<ul>
    <div id="sortable"></div>
</ul>
<script id="tmp" type="text/x-kendo-template">
    @*<li class="sortable">Item #:data#</li>*@

    <div class="col-lg-6 sortable">
        <div class="panel panel-default">
            <div class="panel-heading">
                Chart Example#:data#
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-chart#:data#"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</script>
<script src="@Url.Content("~/Scripts/morris-data.js")"></script>