@Scripts.Render("~/bundles/kendo")
@Scripts.Render("~/scripts/charts")
<ul>
    <div id="sortable"></div>
</ul>
<script id="tmp" type="text/x-kendo-template">
    @*<li class="sortable">Item #:data#</li>*@

    <div class="col-lg-6 sortable">
        <div class="panel panel-default">
            <div class="panel-heading">
                Chart Example#:data# <span id="save#:data#" class="glyphicon glyphicon-plus-sign pull-right"></span>
</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="chart#:data#">
                    @*<canvas id="canvas#:data#"></canvas>*@
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</script>
<script src="@Url.Content("~/Scripts/morris-data.js")"></script>

<!-- A link to the NodeBox JavaScript API  -->
<script src="https://nodebox.live/api/v1/ndbx.js"></script>

<script>

    var number = @Html.Raw(Json.Encode(ViewBag.NUMMER1));
    console.log(number);
    //document.getElementById("chart7").innerHTML = number;
    //$("#chart7").append("<p>This is a paragraph</p>");

    
</script>


