
@{
    ViewBag.Title = "grafiektest";
}

<h2>grafiektest</h2>


    <!-- The canvas element, where the visualization is rendered -->
    <canvas id="c" width="700" height="300"></canvas>

    <!-- The slider controls -->
    Size: <input type="range" min="10" max="500" step="1" oninput="changeSize(this)">
    Hue: <input type="range" min="0" max="1" step="0.01" oninput="changeHue(this)">

    <!-- A link to the NodeBox JavaScript API  -->
    <script src="https://nodebox.live/api/v1/ndbx.js"></script>

    <!-- Your custom initialization code -->
    <script>
    // Again, replace these with your own userId / projectId / functionId / canvasId
    var options = {
      userId: 'demo',
      projectId: 'embedding',
      functionId: 'main',
      canvasId: 'c',
      autoplay: true
    };

    // Initialize the NodeBox player object
    ndbx.embed(options, function(err, player) {
      if (err) {
        throw new Error(err);
      } else {
        window.player = player;
      }
    });

    // This function is called when the size slider is dragged.
    function changeSize(e) {
      window.player.setValue('rect1', 'width', e.value);
      window.player.setValue('rect1', 'height', e.value);
    }

    // This function is called when the hue slider is dragged.
    function changeHue(e) {
      window.player.setValue('hslColor1', 'hue', e.value);
    }
    </script>
