@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <script src="~/Scripts/test1.js"></script>
    <script src="~/Scripts/morris_chart.js"></script>
</head>
<body>
    <div id="cn"></div>
    <button type="button" onclick="areaChart('cn', [{ label: 5, value: 6 }, { label: 6, value: 8 }])">Click</button>
    @*<script>
        $(document).ready(function () {
            $.get('@Url.Action("GetData","Home",new {id = 231})', areaChart('cn',result));
    });
    </script>*@
</body>
