@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-lg-12">
        <div class="header" style="position: relative; text-align: center; color: white; margin-right:-30px; margin-left:-30px;">
            <img src="../Fotos/homepagebanner.jpg" alt="banner" style="width:100%;">
            <div class="centered" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color:#00295C; font-family: Arial, Helvetica, sans-serif;font-size:50px;">Integratieproject 1 - 8IEN.</div>
        </div>

    </div>
</div>
<div class="row">
    IP3_8IEN
    <div class="col-lg-12" style="background-color:#f8f8f8; margin-left:-30px; margin-right:-30px;">
        <div class="col-lg-6" style="padding-left:30px;  margin-top:30px">
            <h3>Wat is 8IEN?</h3>
            <p>
                8IEN. is het Integratieproject van een groep Toegepaste Informatica studenten aan de Karel de Grote Hogeschool. <br />
                8IEN. bestaat uit : Thomas De Witte, Victor De Clercq, Jorden Laureyssens, Ivaylo Deshev, Sam Laureys, Stéphane Boogaerts
            </p>
        </div>
        <div class="col-lg-6" style="margin-top:30px">
            <h3>Wat kan je doen op 8IEN?</h3>
            <p>
                8IEN. helpt u bij het up-to-date blijven over alles wat er gaande is binnen het Vlaamse politieke milieu. Op het dashboard kan je een reeks reeds ingestelde grafieken bekijken <br />
                Daarnaast kan je je eigen grafieken daaraan
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <a href="@Url.Action("Dashboard","Home")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                <i class="fas fa-chart-bar" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                <br />
                <br />
                <i style="font-size:24px; color:#00295C;">Dashboard</i>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Personen","Home")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                <i class="far fa-user-circle" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                <br />
                <br />
                <i style="font-size:24px; color:#00295C;">Personen</i>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Organisaties","Home")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                <i class="fas fa-handshake" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                <br />
                <br />
                <i style="font-size:24px; color:#00295C;">Organisaties</i>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Themas","Home")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                <i class="fas fa-street-view" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                <br />
                <br />
                <i style="font-size:24px; color:#00295C;">Themas</i>
            </a>
        </div>
    </div>
</div>

