@{
    ViewBag.Title = "Home";
}

<div class="header" style="position: relative; text-align: center; color: white; margin-right:-30px; margin-left:-30px;">
    <img src="../Fotos/homepagebanner.jpg" alt="banner" style="width:100%;">
    <div class="centered" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color:#00295C; font-family: Arial, Helvetica, sans-serif;font-size:50px;">Integratieproject 1 - 8IEN.</div>
</div>

