@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <script src="~/Scripts/test1.js"></script>
    <script src="~/Scripts/morris_chart.js"></script>
</head>
<body>
    <p id="cn"></p>
    <button type="button" onclick="areaChart('cn','@Url.Action("GetData","Home",new {id = 231})')">Click</button>

</body>
