@{
    ViewBag.Title = "Organisatie";
}
<h2>@ViewBag.Title</h2>


<br />


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <form role="form">
                            <div class="form-group">
                                <img src="../Fotos/NVA.jpg" alt="Bart De Wever" style="max-height:100%; max-width:100%">

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <table>
                            <tr>
                                <td><b>Naam: </b></td>
                                <td>Nieuw-Vlaamse Alliantie</td>
                            </tr>
                            <tr>
                                <td><b>Afkorting: </b></td>
                                <td>N-VA</td>
                            </tr>
                            <tr>
                                <td><b>Twitter:</b> </td>
                                <td>de_NVA</td>
                            </tr>
                            <tr>
                                <td><b>Facebook:</b> </td>
                                <td>NVA</td>
                            </tr>
                            <tr>
                                <td><b>Opgericht op:</b> </td>
                                <td>13 oktober 2001</td>
                            </tr>
                            <tr>
                                <td><b>Oprichter:</b> </td>
                                <td>Geert Bourgouis</td>
                            </tr>
                            <tr>
                                <td><b>Leider:</b> </td>
                                <td>Bart De Wever</td>
                            </tr>

                            <tr>
                                <td><b>Leden:</b> </td>
                                <td>Bart De Wever, Jan Jambon</td>
                            </tr>
                            <tr>
                                <td><b>Ideologie:</b> </td>
                                <td>Ideologie: Nationalisme, Conservatisme</td>
                            </tr>
                        </table>


                    </div>
                    <div class="col-lg-5">
                        <form role="form">
                            <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/de_nva?ref_src=twsrc%5Etfw">Tweets by de_NVA</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
