@{
    ViewBag.Title = "Personen";
}
<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Gebruikersinformatie
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <form role="form">
                            <div class="form-group">
                                <label>Naam</label>
                                <input class="form-control" />
                                <p class="help-block">Bart De Wever</p>

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="col-lg-4">
                            <form role="form">
                                
                                    <label >Naam: <br /></label>
                                    <br />
                                    <label>Twitter: <br /></label>
                                    <br />
                                    <label>Facebook: <br /></label>
                                    <br />
                                    <label>Beschrijving: <br /></label>
                                    <br />
                                    <label>Organisaties: <br /></label>

                                
                            </form>
                        </div>
                        <div class="col-lg-8">
                            <form role="form">
                                <div class="form-group">

                                    <p>Bart De Wever <br /></p>
                                    <br />
                                    <p>
                                        &#64;Bart_DeWever
                                        <br />
                                    </p>
                                    <br />
                                    <p>BartjeDeWever <br /></p>
                                    <br />
                                    <p>Bart Albert Liliane De Wever (Mortsel, 21 december 1970) is een Belgisch Vlaams-nationalistisch politicus. Hij is sinds 2004 partijvoorzitter van de Nieuw-Vlaamse Alliantie (N-VA). Sinds 1 januari 2013 is Bart De Wever burgemeester van Antwerpen. <br /></p>
                                    <br />
                                    <p>NVA, Stad Antwerpen <br /></p>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div class="col-lg-5">
                        <form role="form">
                            <div class="form-group">
                                <label>Naam</label>
                                <input class="form-control" />
                                <p class="help-block">Bart De Wever</p>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
