@{
    ViewBag.Title = "WeeklyReview";
}



<h2>Weekly Review</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Hieronder ziet u een overzicht van alle personen/organisaties/themas die in onze databank zitten. Daarnaast kan u zien wie u volgt.
            </div>
            <div class="panel-body">
                <table style="width:100%" class="table table-striped table-bordered table-hover" id="weeklyreviewTable">
                    <thead>
                        <tr class="odd gradeX">
                            <th>Type</th>
                            <th>Naam</th>
                            <th>Twitter</th>
                            <th>Volgen?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Bart De Wever</td>
                            <td>Bart_DeWever</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Kris Peeters</td>
                            <td>Kris_Peeters</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Persoon</td>
                            <td>Jan Jambon</td>
                            <td>Jambon_Jan</td>
                            <td>N</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Organisatie</td>
                            <td>N-VA</td>
                            <td>de_NVA</td>
                            <td>Y</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Organisatie</td>
                            <td>CD&V</td>
                            <td>CDV</td>
                            <td>N</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>Thema</td>
                            <td>De veiligheid</td>
                            <td>#veiligheid</td>
                            <td>N</td>
                        </tr>
                    </tbody>


                </table>
            </div>
        </div>
    </div>

</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

@section scripts{

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#weeklyreviewTable').DataTable();
        });</script>
}