
@{
    ViewBag.Title = "404";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
</head>
<body>
    <h2>Pagina niet gevonden!</h2>
</body>
</html>